%form{:action => '/post/new', :method => 'post'}
  %p
    %label{:for => 'title'}Title: 
    %input{:name => 'title', :id => 'title'}
  %p
    %label{:for => 'body'}Body:
    %br/
    %textarea{:name => 'body', :id => 'body', :rows => '12', :cols => '40'}
  %p
    %input{:type => 'submit'}